.row
  .twelve.columns
    .panel
      %h2#page-title Browse Video Tags
      #dynacloud
      
- @video_tags.each do |tag|
  .row{ :id => tag.name }
    .twelve.columns
      .panel
        %h3= tag.name
        
        - Video.tagged_with(tag.name).each do |video|
          = video.youtube_url


.dynacloud#dynatags
  - Video.tag_counts_on(:tags).each do |tag|
    = (tag.name + " ") * tag.count
