.row.homepage-content
  .six.columns
    #featured
      = image_tag "http://sphotos.xx.fbcdn.net/hphotos-ash4/421926_407082032639061_321141644566434_1841310_1782878540_n.jpg"
      = image_tag asset_path("nationals.png")
      = image_tag "http://sphotos.xx.fbcdn.net/hphotos-ash4/401978_354758111204787_321141644566434_1680787_1410265771_n.jpg"
  .six.columns
    .row
      .twelve.columns
        .panel
          %h4 Allan's Neat Article Title Here
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, tortor at pulvinar congue, dolor dui luctus mauris, sit amet rhoncus nisi libero vitae leo. Aenean pellentesque sapien vel ipsum tincidunt tincidunt. Mauris nec odio turpis, at mollis mauris. Integer erat lacus, sagittis sit amet tincidunt vel, congue quis tortor.  Integer erat lacus, sagittis sit amet tincidunt vel, congue quis tortor...
    .row
      .twelve.columns
        .panel
          %h4 Katherine's Article Goes Here Too
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, tortor at pulvinar congue, dolor dui luctus mauris, sit amet rhoncus nisi libero vitae leo. Aenean pellentesque sapien vel ipsum tincidunt tincidunt. Mauris nec odio turpis, at mollis mauris. Integer erat lacus, sagittis sit amet tincidunt vel, congue quis tortor.  Integer erat lacus, sagittis sit amet tincidunt vel, congue quis tortor...
 