.row
  .twelve.columns
    .panel
      %h2#page-title Listing posts
  .twelve.columns
    .panel
      %table
        %tr
          %th Title
          %th Content
          %th User
      
        - @posts.each do |post|
          %tr
            %td= post.title
            %td= post.content
            %td= post.user.first_name
      
