.row
  .eight.columns
    .row
      .twelve.columns
        .panel
          %h2#page-title Blog Posts by Date
    - @posts.each do |post|
      = render :partial => "posts/post_preview", :locals => { :post => post }
  .four.columns
    .row
      .twelve.columns
        .panel
          %h2#page-title#tag-title Tags
          .blog-post-tag-listing
            %ul
              - @tags.each do |tag|
                %li
                  = link_to ("#" + tag), "/"