.row
  .twelve.columns
    .panel
      %h2#page-title Founders
.row
  .six.columns
    .panel.coach-half-section
      .row
        .six.columns
          %h3.mini-title Erin Dawson
      .row
        .six.columns
          = image_tag asset_path("erin_tuselitepic.jpg"), { :class => "coach-picture" }  

        .six.columns   
          .coach-description
            Erin has been an assistant track and field and cross country coach at both University of Arizona and Northern Arizona University.  At NAU, Erin helped guide the men’s and women’s cross country teams to fourth and seventh place finishes respectively at Nationals. During her coaching career she has helped guide the training of three individual national champions, and dozens of All-Americans and conference champions. Erin is a graduate of the University of Texas, where she competed on squads capturing NCAA Regional and Big 12 Conference titles.
         
  .six.columns
    .panel.coach-half-section
      .row
        .six.columns
          %h3.mini-title Ben Dawson
      .row
        .six.columns
          = image_tag asset_path("ben_tuselitepic.jpg"), { :class => "coach-picture" }
        .six.columns
          .coach-description
            Ben (aka, Erin’s husband) is also a graduate of University of Texas where he was an NCAA All American in Track and Field. Ben now works full time at the Arizona Cancer Center as a radiation oncology technician.

.row
  .twelve.columns
    .panel
      .row
        .twelve.columns
          %h3.mini-title Katherine Phillips
      .row
        .three.columns
          = image_tag "http://a2.sphotos.ak.fbcdn.net/hphotos-ak-ash4/313803_2459605335029_1399035378_32889434_1555514441_n.jpg", { :class => "coach-picture" }
        .nine.columns
          .coach-description
            Katherine is co-owner of Pike Athletics.  She is an NSCA Certified Strength and Conditioning Specialist (CSCS) and a Certified Coach by USA Track and Field, USA Cycling, and USA Triathlon.  She also works as a consultant to USA Paralympic Cycling.  Previously she was the assistant track and field and cross country coach at Johns Hopkins University.  A former USA Triathlon Junior National team member, Katherine is one of the first USA Triathlon Youth/Junior Certified Coaches.  She is a graduate of California State University San Marcos where she trained under the guidance of three time Olympian and former American record holder in the mile Steve Scott.
 