.row
  .twelve.columns.panel
    %h2#page-title About

.row
  .twelve.columns.panel
    %p Tucson Elite Athletic Club was formed in 2011 to cultivate the talents of post-collegiate runners in Southern Arizona, using the strength of a collective vision to foster individual athletic achievement.  The club made its national debut at the USA Track and Field Club Cross Country National Championships in 2011 and maintains a presence at regional and local events.  

    %p With a coaching staff bringing decades of experience and accomplishment at both the professional and collegiate ranks of track and field, athletes receive unparalleled guidance to reach their goals.   The club holds regular practices on Wednesday evenings at which all abilities and event specialties are welcome. 

    %p Tucson Elite Athletic Club offers its deepest thanks to Coach Greg Wenneborg and the Pima Community College Track and Field and Cross Country programs for use of the track facility!   