// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

#post-container
  padding: 20px

#post-title
  text-align: center

#post-content-input
  min-height: 300px
  width: 800px

.post-panel
  padding: 20px

.post-title
  text-align: center

#facebook_like
  height: 50px
  margin-left: 20px

#toTop
  width: 100px
  border: 1px solid #ccc
  background: #f7f7f7
  text-align: center
  padding: 5px
  position: fixed
  bottom: 10px
  right: 10px
  cursor: pointer
  display: none
  color: #333
  font-family: verdana
  font-size: 11px

.blog-author
  display: inline

.blog-post-tags
  display: inline-block

.post-tag
  display: inline

.blog-post-meta-data
  font-weight: bold  

.blog-post-tag-listing
  margin: 15px

#tag-title
  margin-left: 15px
  text-align: left
