// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

#post-content-input
  min-height: 300px
  width: 800px

.post-panel
  padding: 20px

.post-title
  text-align: center

#facebook_like
  height: 50px
  margin-left: 20px