// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.navigation-area
  margin-top: 20px

.nav-link
  color: #333
  display: inline-block
  font-size: 2.0em
  line-height: 1.25
  padding: 5px

  -o-transition: 0.2s
  -ms-transition: 0.2s
  -moz-transition: 0.2s
  -webkit-transition: 0.2s
  transition: 0.2s

  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px

.nav-link:hover
  background: rgba(0, 0, 0, 0.1)

.homepage-content
  margin-top: 50px

#sponsors
  margin-bottom: 80px
  margin-top: 80px

.sponsor-logo
  display: block
  text-align: center

.panel.sponsor
  background: #EEF

.sponsor:hover
  background: #DFB
  
  -o-transition: 0.2s
  -ms-transition: 0.2s
  -moz-transition: 0.2s
  -webkit-transition: 0.2s
  transition: 0.2s 