.row
  .twelve.columns
    .panel
      %h2#page-title Tips by Date
.row
  .twelve.columns
    - @tips.each do |tip|
      .row
        .twelve.columns
          .panel
            %h4= tip.title
            %p
              = truncate(tip.content, :length => 400)
              = link_to "Tip link", tip_path(tip)
              .small= "Posted on " + tip.date

#toTop ^ Back to Top

